<div class="datenschutz-div">
  <h1>Datenschutzhinweise</h1>
  <p>
    Unser Bestreben ist es, dass Sie sich auf unserer Webseite wohlfühlen.
    Der Schutz Ihrer Privatsphäre und Ihr Persönlichkeitsrecht sind deshalb
    für uns ein wichtiges Anliegen. Deshalb möchten wir Sie bitten, die
    nachfolgende Zusammenfassung über die Funktionsweise unserer Webseite
    aufmerksam zu lesen. Sie können auf eine transparente und faire
    Datenverarbeitung vertrauen, und wir bemühen uns um einen sorgsamen
    und verantwortungsvollen Umgang mit Ihren Daten.
  </p>

  <h2>Datenschutzbeauftragter</h2>
  <p>
    Unser Datenschutzbeauftragter ist Max Mustermann. Sie können ihn wie
    folgt kontaktieren:
  </p>

  <p>
    Name: Max Mustermann<br>
    Email: <a href="mailto:Max_Mustermann&#64;nas.de">Max_Mustermann&#64;nas.de</a><br>
    Telefon: XXX 000
  </p>
</div>

