<div class="container mt-5" id="product-container" *ngIf="product">

  <div class="row">
    <div class="col-md-5">
      <!-- Carousel -->
      <div id="product-carousel" class="carousel carousel-dark slide container" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div *ngFor="let image of images; let i = index" class="carousel-item" [class.active]="i === 0">
            <img [src]="'data:image/jpeg;base64,' + image.base64Image" class="img-fluid mx-auto d-block" alt="Bild konnte nicht geladen werden">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#product-carousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#product-carousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>
      </div>

      <!-- Thumbnails -->
      <div class="thumbnail-row">
        <div *ngFor="let image of images; let i = index" class="thumbnail">
          <img [src]="'data:image/jpeg;base64,' + image.base64Image"
               class="img-thumbnail"
               style="cursor: pointer;"
               [class.active-thumbnail]="i === currentIndex"
               (click)="selectSlide(i)" />
        </div>
      </div>

    </div>

    <!-- Product Details -->
    <div class="col-md-7">
      <h2 style="margin-bottom: -10px;" class="product-title">
        {{ product.brand }} {{ product.productName }} in {{ product.color }} mit {{ product.physicalMemory }} GB Speicherplatz und {{ product.ram }} GB Arbeitsspeicher
      </h2>
      <br />

      <!-- Review -->
      <div class="star-rating">
        <!-- Popup -->
        <div class="popup-overlay" *ngIf="popupVisible" (click)="closePopup()">
          <div class="popup" (click)="$event.stopPropagation()">
            <div class="popup-header mb-3">
              <h2>Bewertungen</h2>
              <span class="popup-close" (click)="closePopup()">
                <i class="fa fa-times" aria-hidden="true"></i>
              </span>
            </div>

            <div *ngFor="let rating of starRatings" class="star-ratings">
              <div>{{ rating.stars }} Sterne</div>
              <div style="flex-grow: 1; margin: 0 10px;">
                <progress class="progress-bar" [value]="rating.percentage" max="100"></progress>
              </div>
              <div class="percentage">{{ rating.percentage }}%</div>
            </div>

            <a href="/allReviewsLink" style="text-decoration: none; color: blue; display: block; margin-top: 10px;">
              Alle Bewertungen ansehen ({{ totalReviews }})
            </a>
          </div>
        </div>

        <!-- Popup Button -->
        <a (click)="showPopup()">
          <p>
            <span *ngFor="let star of stars" class="fa fa-star" [class.checked]="star <= averageRating"></span>
          </p>
        </a>
      </div>

      <!-- Product Price -->
      <p class="product-price" style="color:black;">Preis: {{ product.price | currency:'EUR':'symbol':'1.0-2' }}</p>

      <!-- Out of Stock-->
      <p *ngIf="product.stock <= 0" class="text-danger">Derzeit leider nicht verfügbar</p>

      <!-- Colors -->
      <div>
        <button *ngFor="let color of availableColors"
                [style.backgroundColor]="translateColor(color)"
                [style.border]="isCurrentColor(color) ? '2px solid black' : '2px solid white'"
                style="width: 40px; height: 40px; border-radius: 50%; margin-right: 10px;"
                [routerLink]="['/product', product.productName, color, product.ram, product.physicalMemory]">
        </button>
      </div>
      <br />

      <!-- RAM Options -->
      <div>
        <div style="margin-bottom: 10px;">
          <strong>Arbeitsspeicher:</strong>
        </div>
        <button *ngFor="let ram of availableRam"
                [style.opacity]="isCurrentRam(ram) ? '1' : '0.5'"
                style="width: 60px; height: 40px; background-color: #333; color: white; border-radius: 5px; margin-right: 10px; font-weight: bold;"
                [routerLink]="['/product', product.productName, product.color, ram, product.physicalMemory]">
          {{ ram }} GB
        </button>
      </div>
      <br />

      <!-- Memory Options -->
      <div>
        <div style="margin-bottom:10px;">
          <strong>Speicherplatz:</strong>
        </div>
        <button *ngFor="let memory of availableMemory"
                [style.opacity]="isCurrentMemory(memory) ? '1' : '0.5'"
                style="width: 80px; height: 40px; background-color: #333; color: white; border-radius: 5px; margin-right: 10px; font-weight: bold;"
                [routerLink]="['/product', product.productName, product.color, product.ram, memory]">
          {{ memory }} GB
        </button>
      </div>
      <br />

      <!-- Description -->
      <p class="product-description">{{ product.description }}</p>
      <!-- Buttons -->
      <button class="btn btn-primary" (click)="addToCart(product.productId, product.productName)" [disabled]="product.stock <= 0">
        <img class="img-fluid" style="width: 30px; height: 30px; margin-right:10px;" src="https://localhost:7219/Images/Header/cart.png" /> in den Warenkorb
      </button>
      <button class="btn btn-outline-dark" id="shareBtn" [value]="product.shareUrl" (click)="copyURL(product.shareUrl)">
        <img class="img-fluid" style="width: 30px; height: 30px;" src="https://localhost:7219/Images/ProductMain/share.png" alt="Artikel merken" />
      </button>

      <div class="popup_link" id="popup_link">
        Link kopiert! Teilen Sie ihn gerne mit Freunden und Familie.
      </div>

      <div class="popup_cart" id="popup_cart">
      </div>

    </div>
  </div>

  <!-- Technical Details -->
  <div class="row mt-5">
    <div class="col-md-12">
      <div class="product-details technical-details">
        <h3>Technische Details</h3> <br />
        <p><b>Artikelnummer:</b> {{ product.productId }}</p>
        <p><b>Marke:</b> {{ product.brand }}</p>
        <p><b>Farbe:</b> {{ product.color }}</p>
        <p><b>Speicherplatz:</b> {{ product.physicalMemory }} GB</p>
        <p><b>Arbeitsspeicher:</b> {{ product.ram }} GB</p>
        <p><b>Betriebssystem:</b> {{ product.operatingSystem }}</p>
        <p>...</p>
      </div>
    </div>
  </div>

  <!-- User Reviews -->
  <div class="reviews">
    <h3>Bewertungen für {{ product.brand }} {{ product.productName }} in {{ product.color }} mit {{ product.physicalMemory }} GB Speicherplatz und {{ product.ram }} GB Arbeitsspeicher</h3>
    <div class="star-rating">
      <div *ngFor="let review of reviews.slice(0, 3)" class="review card">
        <div class="card-body">
          <h5 class="card-title">Bewertung von {{ review.userName }} am {{ review.reviewDate }}</h5>
          <span *ngFor="let star of stars" class="fa fa-star" [class.checked]="star <= review.rating"></span>
          <p class="card-text mt-3">{{ review.reviewText }}</p>
        </div>
      </div>
    </div>
      <a href="/reviews/{{ product.productId }}" style="text-decoration: none; color: blue; display: block; margin-top: 10px;">
        Alle Bewertungen ansehen ({{ reviews.length }})
      </a>
    </div>

  </div>
