img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.card {
  min-height: 200px;
}

  .card img {
    width: 150px;
    height: 150px;
    object-fit: contain;
  }

.btn-block {
  width: 100% !important;
}
