.container {
  flex-grow: 1;
}

.card {
  display: flex;
  height: 100%;
  width: 22rem;
}

.card-body {
  flex: 1;
  background-color: #f8f8f8;
}

.card-footer {
  background-color: #e5e5e5;
}

.image-container {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;
}

  .image-container img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    cursor: pointer;
  }

  .image-container img {
    max-width: 240px;
    max-height: 300px;
    height: auto;
    width: auto;
  }

#carouselMain .carousel-item img {
  width: 1050px;
  height: 280px;
}

  #carouselMain .carousel-item img:hover {
    cursor: pointer;
  }

.carousel-control-prev, .carousel-control-next {
  width: auto;
  padding: 0;
}
