<header>
  <div class="fixed-top">
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/mainpage">
          <img src="https://localhost:7219/Images/Header/Logo.png" alt="NAS" width="200" height="44">
        </a>

        <div class="container navbar justify-content-center" id="navbar">
          <input class="form-control me-2" type="search" placeholder="Wonach suchen Sie?" aria-label="Search" style='width: 720px'>
          <button class="btn btn-outline-light" type="button">Suchen</button>
        </div>

        <div class="navbar justify-content-end" id="navbar">
          <div class="navbar-nav">
            <a class="nav-link position-relative me-2" href="/cart">
              <img title="cart" src="https://localhost:7219/Images/Header/Cart.png" width="30">
              <span *ngIf="countCart > 0" class="itemCount">{{ countCart }}</span>
            </a>
            <a class="nav-link position-relative me-2" href="/wishlist">
              <img title="wishlist" src="https://localhost:7219/Images/Header/Wishlist.png" width="30">
              <span *ngIf="countWishlist > 0" class="itemCount">{{ countWishlist }}</span>
            </a>

            <!-- Popup für Login -->
            <div *ngIf="showPopup" class="bg-dark" id="account_popup" style='z-index: 1031; position: absolute; right: 0; padding: 10px; border-radius: 10px;'>
              <span class="close" (click)="togglePopup()" style='color:white; position: absolute; top: 5px; right: 10px; cursor: pointer;'>
              <i class="fa fa-times" aria-hidden="true" style="margin-top: 10px; margin-right: 10px;"></i>
              </span>
              <table>
                <tr>
                  <td colspan="2">
                    <img src="https://localhost:7219/Images/Header/Logo.png" title="logo" width="120">
                  </td>
                </tr>
                <tr>
                  <td colspan="2" style="color: white; font-weight: bold;">Anmelden</td>
                </tr>
                <tr>
                  <td style='color:white;'>E-Mail:</td>
                  <td>
                    <input type="text" [(ngModel)]="email" style="border-radius: 10px; background-color: #f5f5f5;">
                  </td>
                </tr>
                <tr>
                  <td colspan="2" style="color: red; font-size: 12px; font-family: Verdana, sans-serif;">{{ emailError }}</td>
                </tr>
                <tr>
                  <td style='color:white;'>Passwort:</td>
                  <td>
                    <input type="password" [(ngModel)]="password" style="border-radius: 10px; background-color: #f5f5f5;">
                  </td>
                </tr>
                <tr>
                  <td colspan="2" style="color: red; font-size: 12px; font-family: Verdana, sans-serif;">{{ passwordError }}</td>
                </tr>
                <tr>
                  <td colspan="2">
                    <a href="/recover-password">Passwort vergessen?</a>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <button name="btnLog" (click)="login()" style="width: 100%;">Anmelden</button>
                  </td>
                </tr>
                <tr>
                  <td colspan="2" style="color: white;">
                    Kein Account? Melden Sie sich <a href="/register" style="color: white; font-weight: bold; text-decoration: underline;">hier</a>  an!
                  </td>
                </tr>
              </table>
            </div>

            <a class="nav-link">
              <img title="account" (click)="togglePopup()" src="https://localhost:7219/Images/Header/Account.png" width="30" style="cursor: pointer;">
            </a>

          </div>
        </div>
      </div>
    </nav>

    <nav class="navbar navbar-expand-lg bg-dark-subtle navbar-light">
      <div class="container-fluid">
        <div class="navbar-collapse justify-content-center" id="navbarCategories">
          <ul class="navbar-nav">
            <li class="nav-item px-4"><a class="nav-link" href="/apple">Apple</a></li>
            <li class="nav-item px-4"><a class="nav-link" href="/samsung">Samsung</a></li>
            <li class="nav-item px-4"><a class="nav-link" href="/huawei">Huawei</a></li>
            <li class="nav-item px-4"><a class="nav-link" href="/discover">Entdecken</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>



</header>
