body {
  background-color: #f0f0f0;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}

app-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

footer {
  margin-top: auto;
}
