<div class="impressum-div">
  <h2>Impressum</h2>

  <p>
    Verantwortlich für den Betrieb von <a href="/mainpage">www.nas.de</a> und von NAS
    Elektronik angebotene Produkte und Dienstleistungen:
  </p>
  <p>
    NAS Elektronik GmbH<br>Ernst-Boehe-Str. 4<br>67059
    Ludwigshafen am Rhein
  </p>

  <p>Geschäftsführer: Endrit Avdulli, Florian Neumann, Florian Strassner</p>
  <p>Eingetragen im Handelsregister des Amtsgerichts Ludwigshafen unter XXX</p>
  <p>USt ID: DE633000</p>
  <p>Retournieren Sie bitte Waren an diese Adresse.</p>

  <p>Gerne können Sie sich mit uns in Verbindung setzen:</p>

  <p>
    Mo.–Sa.: 08:00–21:00 Uhr<br>So./Feiertag: 09:00–18:00 Uhr
  </p>

  <p>Telefon: 000/6333000 (Kosten zum Festnetztarif)</p>
  <p>
    E-Mail: <a href="mailto:nas.elektronik.kontakt&#64;gmail.com">nas.elektronik.kontakt&#64;gmail.com</a>
  </p>
</div>
