<div class="agb-div">
  <h2>Allgemeine Geschäftsbedingungen</h2>
  <br>
  <h4>1. Geltung</h4>
  <p>
    Diese Allgemeinen Geschäftsbedingungen gelten für die Bestellung von
    Waren und Dienstleistungen aus dem Sortiment von NAS auf
    <a href="/mainpage">www.nas.de</a>.
  </p>
  <p>
    Für den Download von digitalen Inhalten auf
    <a href="/mainpage">www.nas.de</a> gelten diese
    Allgemeinen Geschäftsbedingungen nicht. Bei Bestellungen bei
    Drittanbietern kommt ein Vertrag unmittelbar zwischen dem Kunden und
    dem Drittanbieter zu den zwischen diesen geltenden Bedingungen
    zustande. Angebote von Drittanbietern sind auf der Angebotsseite
    besonders gekennzeichnet.
  </p>
  <h4>2. Vertragspartner</h4>
  <p>
    (1) Vertragspartner des Kunden für Bestellungen aus dem Sortiment
    von NAS auf <a href="/mainpage">www.nas.de</a> ist:
    MMS E-Commerce GmbH, Media-Saturn-Str. 1, 85053 Ingolstadt. Telefon:
    000/6333000. E-Mail: <a href="mailto:nas.elektronik.kontakt&#64;gmail.com">nas.elektronik.kontakt&#64;gmail.com</a>
    (nachfolgend "NAS" genannt).<br>
    (2) Der Verkauf der NAS Geschenkkarte erfolgt im Namen und auf Rechnung der NAS Elektronik GmbH, Ernst-Boehe-Str. 4, 67059 Ludwigshafen am Rhein. Es gelten die Nutzungsbedingungen der NAS Geschenkkarte.<br>
    (3) Der Verkauf von digitalen Guthabenkarten erfolgt nur im Namen und auf Rechnung des jeweiligen Anbieters der Guthabenkarte. Für die Einlösung und Nutzung der digitalen Guthabenkarte gelten die jeweils beim Produkt angezeigten Bedingungen des jeweiligen Anbieters.
  </p>
  <h4>3. Vertragsabschluss</h4>
  <p>
    (1) Das Liefergebiet ist Deutschland.<br>
    (2) Durch Klicken auf den Button 'Fortfahren und bezahlen' gibt der
    Kunde ein verbindliches Angebot zum Kauf der im Warenkorb
    befindlichen Ware ab und ist mit der Geltung dieser Allgemeinen
    Geschäftsbedingungen einverstanden. Angebote von Drittanbietern
    unterliegen den Vereinbarungen mit dem jeweiligen Drittanbieter.<br>
    (3) Bei der Bestellung von Waren aus dem Foto-Service erteilt der Kunde
    NAS durch Zusendung von Bilddateien den Auftrag zur Herstellung von
    Bildern oder von mit Bildern versehenen Artikeln („Fotoprodukte“).<br>
    (4) Die nach Absenden der Bestellung automatisch versendete
    Bestellbestätigung bestätigt den Inhalt und den Zugang der Bestellung
    des Kunden bei NAS, stellt aber noch keine Annahme des Angebots des
    Kunden dar. Ein Vertrag mit NAS kommt erst durch die Annahmeerklärung
    von NAS zustande, die mit einer gesonderten E-Mail (Auftragsbestätigung
    oder Versandbestätigung) versendet wird.<br>
    (5) NAS wird die Annahme innerhalb von fünf Werktagen ab Eingang der
    Bestellung des Kunden erklären. Gibt NAS innerhalb dieser Frist keine
    Annahmeerklärung ab, wurde die Bestellung des Kunden von NAS nicht
    angenommen. Erfolgt keine Annahme, wird NAS den Kunden stets per E-Mail
    darüber informieren, dass die Bestellung nicht angenommen wurde.<br>
    (6) Erwirbt der Kunde zusammen mit einem Mobilfunkgerät auch einen
    Mobilfunkvertrag, kommt der Kaufvertrag über das Mobilfunkgerät mit NAS
    unter der aufschiebenden Bedingung des Zustandekommens des
    Mobilfunkvertrages mit dem Mobilfunkanbieter zustande. Kommt der
    Mobilfunkvertrag nicht zustande und hat der Kunde das Mobilfunkgerät
    bereits in seinem Besitz, ist der Kunde zur unverzüglichen Rückgabe
    des Mobilfunkgerätes verpflichtet.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
    nonumy eirmod tempor invidunt ut labore und dolore magna aliquyam
    erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
    et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
    Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
    sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore und
    dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
    et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
    takimata sanctus est Lorem ipsum dolor sit amet.
  </p>
</div>
